---
title: Home
---
<div class="home">
	<div class="blog section">

		<section class="posts">
			{% for post in paginator.posts %}
				{% if post.categories contains "Feature" %}
				{% else %}
					<article class="post">
						{% include post-heading.html post=post %}
						<div class="image">
							<a href="{{ site.baseurl }}{{ post.url }}">
								<img src="{{ post.feature_image }}" alt="{{ post.feature_image_title }}">
							</a>
						</div>
						<p>
							{{ post.excerpt | strip_html | truncatewords: 25 }}
						</p>
						<p><a class="button" href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
					</article>
				{% endif %}
			{% endfor %}

			{% if paginator.total_pages > 1 %}
				<div class="pagination">
					{% if paginator.previous_page %}
						<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
					{% endif %}

					<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

					{% if paginator.next_page %}
						<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
					{% endif %}
				</div>
			{% endif %}
		</section>
	</div>
</div>
