---
title: Map
image_view: true
---
<div class="editable">
	<h1 class="section-border">Travel Map</h1>
	<p>Find out where I've been around the world 🌏</p>
	<iframe src="https://www.google.com/maps/d/embed?mid=1efCGC96CjZGb1Nr5tVl-tCElssx--LTY" width="100%" height="600"></iframe>
	<h2>USA/Canada</h2>	
	{% if page.image_view %}
		<div class="recipes">
			{% for post in site.categories.USA reversed %}
				<div class="recipe" style="background-image: url('{{ post.map_image }}')">
					<a href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
