<aside class="sidebar">
	<div><a class="editor-link btn" href="cloudcannon:collections/_data/sidebar.yml" class="btn"><strong>&#9998;</strong> Edit sidebar</a></div>
	<div class="author">
		<p>
			<a href="{{ site.baseurl }}/about/">
				<img src="{{ site.baseurl }}{{ site.data.sidebar.author_image }}" alt="author" class="author">
			</a>
		</p>
		<h3 class="title">🌐 Full-stack Cloud Developer</h3>
		<p>I'm Dylan, a passionate mid-level web application developer working at an ASX50 company in Melbourne, Australia 🇦🇺</p>
	</div>
	<div class="specialisation">
		<h3>📌 Specialisation</h3>
		<ul>
			<li>Microsoft Azure</li>
			<li>Web Apps</li>
			<li>Security</li>
		</ul>
	</div>
	<div class="skills">
		<h3>🔨 Skills</h3>
		<ul>
			{% for link in site.data.sidebar.skills_markdown | markdownify %}
				<li>{{link}}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="Next Trip">
		<h3>🎓 Graduated</h3>
		<p>
			<a href="https://www.monash.edu/" target="_blank">
				Monash University
			</a>
		</p>
		<ul>
			<li>Bachelor Information Technology</li>
			<li>Master of Information Technology (Honours)</li>
		</ul>
	</div>
	<div class="donate">
		<h3>📝 Certificates</h3>
		<ul>
			<li>
				<a href="https://docs.microsoft.com/en-us/learn/certifications/azure-fundamentals" target="_blank">
					Azure Fundamentals
				</a>
			</li>
			<li>
				<a href="https://docs.microsoft.com/en-us/learn/certifications/azure-developer" target="_blank">
					Microsoft Certified: Azure Developer Associate
				</a>
			</li>
			<li>
				<a href="https://www.scaledagile.com/certification/courses/safe-for-teams/" target="_blank">
					Safe Agilist
				</a>
			</li>
			<li>
				<a href="https://www.sitecore.com/products/sitecore-experience-platform" target="_blank">
					Sitecore XP 8 Developer
				</a>
			</li>
			<li>
				<a href="https://stjohn.org.au/first-aid-training" target="_blank">
					First Aid
				</a>
			</li>
		</ul>
	</div>
	{% if site.newsletter_action && site.newsletter_action!=""%}<form action="{{ site.newsletter_action }}" method="post">
		<h3>Newsletter</h3>
		<p>Get my latest recipes sent straight to your inbox.</p>
		<input type="text" name="EMAIL" placeholder="Email address">
		<input type="submit" value="Sign up">
	</form>
	{% endif %}
</aside>
