html , body {
	padding: 0;
	margin: 0;
	line-height: 1.8em;
}

body, input, textarea {
	font-family: 'Fira Sans', sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

h2 {
	font-size: 1.4em;
}

time {
	color: $light-grey;
}

header {
	text-align: center;
	padding: 80px 0 60px 0;
}

img {
	max-width: 100%;
	border-radius: 5px;
}

ol li + li {
	margin: 20px 0 0 0;
}

footer {
	color: $light-grey;
	text-align: center;
	padding: 20px 0;
	font-size: .8em;
}

hr {
	 border: 0;
	 border-top: 1px solid #eee;
}

a {
	text-decoration: none;
	color: #007eff;
}

.section-border {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	margin-bottom: 30px;
	a {
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

h1 {
	svg {
		height: 30px;
		width: 30px;
		display: block;
		float: left;
		margin-top: 3px;
		margin-right: 10px;
	}
}

// -------- Table Styles -------- //
table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #666;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #666;
}


