.episodes {
    .youtube-list {

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: flex-start;
            padding-left: 0;

            li {
                margin: 1%;

                @media (min-width: 450px) {
                    width: 48%;
                }
                @media (max-width: 449px) {
                    width: 100%;
                }

                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                }

                p {
                    line-height: 1.5;
                    font-size: 14px;
                    padding: 0 5px;
                    margin-top: 0px
                }
            }
        }
    }
}