footer {
    .instagram {
        a:hover {
            color: black;
            text-decoration: underline;
        }
        p {
            color: black;
            margin-top: -10px;
        }
    }
}