.sidebar {
	width: 250px;
	padding: 70px 0 0 0;
	margin: 0 auto;

	@media #{$desktop} {
		margin: 0;
		padding: 0 0 0 70px;
	}
	
	h3 {
		padding-bottom: 5px;
		border-bottom: 1px solid black;
	}
	
	.author {
		text-align: center;
		p {
			padding: 0;
			margin: 0;
		}
		img {
			width: 200px;
			border-radius: 200px;
			margin: 0 0 10px 0;
		}
	}

	.social-icons {
		.country-list {
			display: flex;
			justify-content: center;
			margin: 10px 0 0 0;
			a {
				padding: 3px;
				text-decoration: none;

				&:hover svg {
					fill: #000;
				}
			}

			svg {
				width: 25px;
				height: 25px;
				fill: $light-grey;
			}
		}
	}

	.donate {

		.body {
			text-align: center;

			.mini {
				font-size: 12px;
				line-height: .1;
				text-transform: uppercase;
			}
		}
	}

	.sponsors {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.andystrapz {
			margin-left: 10px;

			img {
				height: 90px;
				width: 160px;
			}
		}
		.bboffroad {
			img {
				width: 85%;	
			}
		}
	}
}

.sidebar.push {
	@media #{$desktop} {
		padding-top: 72px;
	}
}
