.sidebar {
	width: 250px;
	padding: 70px 0 0 0;
	margin: 0 auto;

	@media #{$desktop} {
		margin: 0;
		padding: 0 0 0 70px;
	}
	
	h3 {
		border-bottom: 1px solid black;
		font-size: 1.1em;
		padding-bottom: 5px;

		&.title {
			margin-top: 0;
		}
	}
	
	.author {
		text-align: center;
		p {
			padding: 0;
			margin: 0;
		}
		img {
			width: 200px;
			border-radius: 200px;
			margin: 0 0 10px 0;
		}
	}
	
	.certification {
		overflow: auto;

		img {
			float: left;
			width: 50%;
		}
	}

	.degrees {
		clear: both;
	}

	.skills {
		clear: both;

		ul {
			display: flex;
			flex-wrap: wrap;
		}

		li {
			width: 50%;
		}
	}
}

.sidebar.push {
	@media #{$desktop} {
		padding-top: 72px;
	}
}
